<footer class="footer">
  <div class="footer-container">

    <div class="footer-section">
      <h3>Kontakt</h3>
      <p>Email: <a href="woodvaerk@protonmail.com">woodvaerk@protonmail.com</a></p>
      <p>Thomas: 4215 9662</a></p>
      <p>Jan: 6068 8768</p>
    </div>

    <div class="footer-section">
      <h3>Adresse</h3>
      <p>Kreibergsgade 27</p>
      <p>4800 Nykøbing F</p>
    </div>

    <div class="footer-section">
      <h3>Sociale medier</h3>
      <p>
        <a href="https://www.instagram.com/woodvaerk" target="_blank">
          Vores Instagram
        </a>
      </p>
    </div>

  </div>

  <div class="footer-bottom">
    <p>Cvr-nummer: 46305582</p>
  </div>
</footer>